@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-brand-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* misc styles */
.glass-fx {
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  background-color: #ffffff40;
  /* background-color: #00000020; */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.transition-fx {
  transition: all 300ms ease-in-out;
}
